<!DOCTYPE=html>
<html>
<form method="post">
	<head>Signup1</head>
	<div class="container">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value="{{username}}"></td>
			</tr>
			<br>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<br>
	<div>
	<div class="sidebar">
		<script>
		  (function() {
		    var cx = '004316011188294275384:m5ewowegrxu';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:searchbox></gcse:searchbox>
		<gcse:search></gcse:search>
	</div>
	{% if invalid_user %}
	<body onload="myFunction()">
	<p style="color:red"> Invalid username or password </p>
	<script>
		function myFunction() {
			alert("Invalid username or password. Try again. Yay js.");
		}
	</script>
	</body>
	{% endif %}
	
	<input type="submit">


</form>
</html>